<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>file1</title>
</head>
<body>
<div><p align="center">{{ string }}</p></div>

<div>
<p>
    2
</p>
   <p> {% for foo in  TutorialList %}
    {{ foo }}
    {% endfor %}
   </p>
</div>

<div>
    {% url 'add' 4 5 %}
    44444555555555555555555555
    <a href="127.0.0.1:8000{{ add }}">连接到：</a>
</div>

<div>
    <p>有时候我们需要在不刷新的情况下载入一些内容，在网页的基本知识中我们介绍了 ajax 技术。</p>
    <p>有时候我们需要在不刷新的情况下载入一些内容，在网页的基本知识中我们介绍了 ajax 技术。</p>
    <p>有时候我们需要在不刷新的情况下载入一些内容，在网页的基本知识中我们介绍了 ajax 技术。</p>
    <p>有时候我们需要在不刷新的情况下载入一些内容，在网页的基本知识中我们介绍了 ajax 技术。</p>
    javascripe js
html
css

php python jsp ajax

python javaweb
mysql .json .xml

c# c++ mysql javaweb
</div>
</body>
</html>

